.logo{
	width: 40%;
}

ul.navbar{
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

.navbuttons{
	float: left;
	display: inline-block;
	color:#f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: .3s;
	font-size: 17px;
	border-style: solid;
	border-color: black;
	cursor: pointer;

}

.logonav{
	background-color: white;
	border-style: solid;
	border-color: red;
	padding: 20px;
	border-radius: 4px;
	background-repeat: repeat-x;
 
	
}